In [1]:
import pandas as pd
customers = pd.read_csv("AWCustomers.csv")
sales = pd.read_csv("AWSales.csv")

In [2]:
merged = pd.merge(customers, sales, on='CustomerID', how='inner')
merged.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated', 'BikeBuyer', 'AvgMonthSpend'],
      dtype='object')

In [4]:
selected_cols = ["Education","BirthDate","NumberCarsOwned","Occupation","MaritalStatus","HomeOwnerFlag","TotalChildren","YearlyIncome","BikeBuyer"]

selected_df = merged[selected_cols]
selected_df.head()

,Education,BirthDate,NumberCarsOwned,Occupation,MaritalStatus,HomeOwnerFlag,TotalChildren,YearlyIncome,BikeBuyer
0,Bachelors,1987-11-13,3,Clerical,M,1,1,81916,1
1,Partial College,1972-07-21,2,Clerical,M,1,2,81076,1
2,Bachelors,1985-11-09,3,Clerical,S,0,0,86387,1
3,Partial College,1977-10-18,2,Skilled Manual,M,1,2,61481,1
4,Partial College,1975-02-05,1,Skilled Manual,S,1,0,51804,1

In [5]:
avg_income = selected_df.groupby('BikeBuyer')['YearlyIncome'].mean()
avg_income

BikeBuyer
0    64261.986877
1    79653.968710
Name: YearlyIncome, dtype: float64

In [6]:
percentage_bikebuyers = selected_df.groupby('Occupation')['BikeBuyer'].mean() * 100
print(percentage_bikebuyers)

Occupation
Clerical          63.866487
Management        66.934920
Manual            26.265916
Professional      68.184654
Skilled Manual    55.900314
Name: BikeBuyer, dtype: float64

In [8]:
from datetime import datetime
import pandas as pd

# Ensure proper conversion
selected_df['BirthDate'] = pd.to_datetime(selected_df['BirthDate'], errors='coerce')

# Drop or handle invalid dates if any
selected_df = selected_df.dropna(subset=['BirthDate'])

# Now compute Age
selected_df['Age'] = datetime.now().year - selected_df['BirthDate'].dt.year

selected_df.head()

C:\Users\Manjot\AppData\Local\Temp\ipykernel_20800\2732828726.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df['BirthDate'] = pd.to_datetime(selected_df['BirthDate'], errors='coerce')

,Education,BirthDate,NumberCarsOwned,Occupation,MaritalStatus,HomeOwnerFlag,TotalChildren,YearlyIncome,BikeBuyer,Age
0,Bachelors,1987-11-13,3,Clerical,M,1,1,81916,1,38
1,Partial College,1972-07-21,2,Clerical,M,1,2,81076,1,53
2,Bachelors,1985-11-09,3,Clerical,S,0,0,86387,1,40
3,Partial College,1977-10-18,2,Skilled Manual,M,1,2,61481,1,48
4,Partial College,1975-02-05,1,Skilled Manual,S,1,0,51804,1,50