In [1]:
#question1
import pandas as pd
import numpy as np
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward', 'Fiona', 'George', 'Hannah', 'Ian', 'Jane'],
    'Age': [25, 30, 35, 28, 40, 23, 36, 31, 29, 33],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales', 'Finance', 'Finance', 'HR', 'Sales', 'IT'],
    'Salary': [50000, 60000, 65000, 55000, 70000, 48000, 62000, 51000, 59000, 64000]
}

df = pd.DataFrame(data)
print("Q1: Created DataFrame")
print(df)

Q1: Created DataFrame
      Name  Age Department  Salary
0    Alice   25         HR   50000
1      Bob   30         IT   60000
2  Charlie   35         IT   65000
3    Diana   28  Marketing   55000
4   Edward   40      Sales   70000
5    Fiona   23    Finance   48000
6   George   36    Finance   62000
7   Hannah   31         HR   51000
8      Ian   29      Sales   59000
9     Jane   33         IT   64000

In [2]:
#question2
print("\nQ2: Locate rows 0, 4, 7, and 8")
print(df.loc[[0, 4, 7, 8]])

Q2: Locate rows 0, 4, 7, and 8
     Name  Age Department  Salary
0   Alice   25         HR   50000
4  Edward   40      Sales   70000
7  Hannah   31         HR   51000
8     Ian   29      Sales   59000

In [9]:
#question3
csv_df = pd.read_csv('sample.csv')
print("\nQ3: CSV File Data")
print(csv_df)

Q3: CSV File Data
   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes

In [10]:
#question4
print("\nQ4: Understanding Attribute Types")

nominal = ['Alice', 'Bob', 'Charlie']               
binary = ['Male', 'Female', 'Male']                 
ordinal = ['Low', 'Medium', 'High']                 
numeric_continuous = [5.5, 6.2, 5.8]              
numeric_discrete = [1, 2, 3, 4]                     

print("Nominal:", nominal)
print("Binary:", binary)
print("Ordinal:", ordinal)
print("Numeric (Continuous):", numeric_continuous)
print("Numeric (Discrete):", numeric_discrete)

Q4: Understanding Attribute Types
Nominal: ['Alice', 'Bob', 'Charlie']
Binary: ['Male', 'Female', 'Male']
Ordinal: ['Low', 'Medium', 'High']
Numeric (Continuous): [5.5, 6.2, 5.8]
Numeric (Discrete): [1, 2, 3, 4]

In [11]:
#question5
# 1. Select rows from index 3 to 7
print("\nQ5.1: Rows from index 3 to 7")
print(df.iloc[3:8])

Q5.1: Rows from index 3 to 7
     Name  Age Department  Salary
3   Diana   28  Marketing   55000
4  Edward   40      Sales   70000
5   Fiona   23    Finance   48000
6  George   36    Finance   62000
7  Hannah   31         HR   51000

In [12]:
# 2. Select rows from index 4 to 8, and columns 2 to 4
print("\nQ5.2: Rows 4-8 and Columns 2-4")
print(df.iloc[4:9, 2:4])

Q5.2: Rows 4-8 and Columns 2-4
  Department  Salary
4      Sales   70000
5    Finance   48000
6    Finance   62000
7         HR   51000
8      Sales   59000

In [13]:
# 3. Select all rows with column index 1 to 3 (include index 3)
print("\nQ5.3: All rows, columns 1 to 3 (inclusive)")
print(df.iloc[:, 1:4])

Q5.3: All rows, columns 1 to 3 (inclusive)
   Age Department  Salary
0   25         HR   50000
1   30         IT   60000
2   35         IT   65000
3   28  Marketing   55000
4   40      Sales   70000
5   23    Finance   48000
6   36    Finance   62000
7   31         HR   51000
8   29      Sales   59000
9   33         IT   64000

In [14]:
#question6
iris = pd.read_csv('Iris.csv')
print("\nQ6: First five rows of Iris dataset")
print(iris.head())

Q6: First five rows of Iris dataset
   Id  SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0   1          5.1         3.5          1.4         0.2  Iris-setosa
1   2          4.9         3.0          1.4         0.2  Iris-setosa
2   3          4.7         3.2          1.3         0.2  Iris-setosa
3   4          4.6         3.1          1.5         0.2  Iris-setosa
4   5          5.0         3.6          1.4         0.2  Iris-setosa

In [15]:
#question7
new_iris = iris.drop(index=4, columns=iris.columns[3])
print("\nQ7: Iris dataset after deleting row 4 and column 3")
print(new_iris.head())

Q7: Iris dataset after deleting row 4 and column 3
   Id  SepalLength  SepalWidth  PetalWidth        Class
0   1          5.1         3.5         0.2  Iris-setosa
1   2          4.9         3.0         0.2  Iris-setosa
2   3          4.7         3.2         0.2  Iris-setosa
3   4          4.6         3.1         0.2  Iris-setosa
5   6          5.4         3.9         0.4  Iris-setosa

In [16]:
#questio8
employees = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}

emp_df = pd.DataFrame(employees)
# a) Shape
print("\nQ8.a) Shape of DataFrame:", emp_df.shape)
# b) Summary (info)
print("\nQ8.b) DataFrame Summary:")
print(emp_df.info())
# c) Descriptive Statistics
print("\nQ8.c) Descriptive Statistics:")
print(emp_df.describe())

# d) Display first 5 and last 3 rows
print("\nQ8.d) First 5 rows:")
print(emp_df.head())
print("\nLast 3 rows:")
print(emp_df.tail(3))

# e) Statistics
avg_salary = emp_df['Salary'].mean()
total_bonus = emp_df['Bonus'].sum()
youngest = emp_df['Age'].min()
highest_rating = emp_df['Rating'].max()

print("\nQ8.e) Calculated Statistics:")
print("Average Salary:", avg_salary)
print("Total Bonus:", total_bonus)
print("Youngest Age:", youngest)
print("Highest Rating:", highest_rating)

# f) Sort by Salary descending
sorted_df = emp_df.sort_values(by='Salary', ascending=False)
print("\nQ8.f) Sorted by Salary (Descending):")
print(sorted_df)

# g) Categorize by performance rating
def categorize(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif rating >= 4.0:
        return 'Good'
    else:
        return 'Average'

emp_df['Performance_Category'] = emp_df['Rating'].apply(categorize)
print("\nQ8.g) Performance Categories:")
print(emp_df[['Name', 'Rating', 'Performance_Category']])

# h) Identify missing values
print("\nQ8.h) Missing Values:")
print(emp_df.isnull().sum())

# i) Rename Employee_ID to ID
emp_df.rename(columns={'Employee_ID': 'ID'}, inplace=True)
print("\nQ8.i) Column Renamed:")
print(emp_df.head())

# j) Filter employees
more_than_5_years = emp_df[emp_df['Years_of_Experience'] > 5]
it_department = emp_df[emp_df['Department'] == 'IT']

print("\nQ8.j.i) Employees with >5 years experience:")
print(more_than_5_years)

print("\nQ8.j.ii) Employees in IT department:")
print(it_department)

# k) Add new column 'Tax' = 10% of Salary
emp_df['Tax'] = emp_df['Salary'] * 0.10
print("\nQ8.k) Added Tax column:")
print(emp_df[['Name', 'Salary', 'Tax']])

# l) Save modified DataFrame to CSV
emp_df.to_csv('Modified_Employees.csv', index=False)
print("\nQ8.l) Modified DataFrame saved to 'Modified_Employees.csv'")

Q8.a) Shape of DataFrame: (5, 10)

Q8.b) DataFrame Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

Q8.c) Descriptive Statistics:
       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

Q8.d) First 5 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Last 3 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Q8.e) Calculated Statistics:
Average Salary: 60000.0
Total Bonus: 27500
Youngest Age: 28
Highest Rating: 4.7

Q8.f) Sorted by Salary (Descending):
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

Q8.g) Performance Categories:
      Name  Rating Performance_Category
0    Alice     4.5            Excellent
1      Bob     4.0                 Good
2  Charlie     3.8              Average
3    Diana     4.7            Excellent
4   Edward     3.5              Average

Q8.h) Missing Values:
Employee_ID             0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance_Category    0
dtype: int64

Q8.i) Column Renamed:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category
0  Female   5000     4.5            Excellent
1    Male   7000     4.0                 Good
2    Male   6000     3.8              Average
3  Female   4500     4.7            Excellent
4    Male   5000     3.5              Average

Q8.j.i) Employees with >5 years experience:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average
4   Male   5000     3.5              Average

Q8.j.ii) Employees in IT department:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average

Q8.k) Added Tax column:
      Name  Salary     Tax
0    Alice   50000  5000.0
1      Bob   70000  7000.0
2  Charlie   65000  6500.0
3    Diana   55000  5500.0
4   Edward   60000  6000.0

Q8.l) Modified DataFrame saved to 'Modified_Employees.csv'